.nav-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  width: 12vw;
  background-color: var(--black-2);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50px;
  margin-left: 2vh;
  z-index: 50;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  width: 95%;
  height: auto;
  margin-top: var(--space-3);
  margin-bottom: var(--space-6);
  align-items: center;
  gap: var(--space-3);
  color: var(--white-1);
}

.nav-logo-container h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-2);
}

.nav-bar-button {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-4);
  margin-bottom: var(--space-3);
  width: 100%;
  height: 35px;
  border: none;
  background: none;
}

.nav-bar-button.active {
  color: var(--color-3);
}

.nav-bar-button.active svg path {
  fill: var(--color-3);
}

.nav-bar-button.activeShare {
  color: var(--color-3);
}

.nav-bar-button.activeShare svg path {
  stroke: var(--color-3) !important;
}

.on-bar-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: var(--color-3);
  border-radius: 0 50px 50px 0;
  margin: 0;
  padding: 0;
  transition: top 0.3s ease;
}

.nav-bar-button h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Svg styles */

.nav-bar-button svg path {
  fill: var(--color-4);
}

#share-button svg path {
  fill: transparent;
  stroke-width: 2.5;
  stroke: var(--color-4);
}

.nav-bar-button svg {
  width: 35px;
  height: 35px;
  margin: 0 var(--space-3);
}
