.nav-bar {
  position: fixed;
  height: 95vh;
  width: 230px;
  background-color: var(--black-2);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50px;
  margin-left: 2.5vh;
  z-index: 50;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
  margin: var(--space-3) auto;
  align-items: center;
  gap: var(--space-2);
  color: var(--white-1);
}

.nav-logo-container h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-2);
}

.nav-bar-button {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-4);
  width: 100%;
  height: 60px;
  border: none;
  background: none;
}

.on-bar-indicator {
  position: absolute;
  width: 8px;
  height: 75%;
  background-color: var(--color-5);
  border-radius: 0 50px 50px 0;
  margin: 0;
  padding: 0;
}

.nav-bar-button h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Svg styles */

.nav-bar-button svg path {
  fill: var(--color-4);
}

#share-button svg path {
  fill: transparent;
  stroke-width: 2.5;
  stroke: var(--color-4);
}

.nav-bar-button svg {
  width: 30px;
  height: 30px;
  margin: 0 var(--space-3);
}
