:root {
  /* Main color accents */
  --Blue-1: #00c4f8;
  --Blue-2: #008ad3;
  /* Card backgrounds */
  --Card-Basic: #1b1b1b;
  /* Common gradient */
  --Gradient1: #000e29;
  --Gradient2: #005ee7;
  --Gradient3: #00d4ff;
  /* Common text */
  --Text-White: #ffffff;
  --Text-Blue: #00d4ff;
  /* Basic background 'filler' space */
  --Background: #0a0a0a;
}

/* The container for the entire route */
.DailyPageContainer {
  position: relative;
  background-color: var(--Background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
}
/* Where the text boxes are contained */
.InputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 5%;
  width: 70%;
  height: 70%;
  z-index: 1;
  color: var(--Card-Basic);
}
/* Text boxes */
.WorkHeartTime {
  position: relative;
  width: 50%;
  height: 100px;
  border-radius: 10px;
  border: none;
  background-color: var(--Blue-1);
  z-index: -2;
}
.WorkHeartTime::placeholder {
  color: #1b1b1b;
}
/* Submit button */
.Submit {
  font-family: "Teko", sans-serif;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  background-color: var(--Card-Basic);
  border: 15px solid var(--Blue-1);
  color: var(--Blue-1);
  bottom: 40px;
  padding: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: 1s ease background-color, 1s ease color;
}

.Submit:hover {
  background-color: var(--Gradient3);
  color: white;
}
/* Creates the colored border  */
.Submit::after,
.Submit::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-image: conic-gradient(
    var(--Gradient1),
    var(--Gradient2),
    var(--Gradient3),
    var(--Gradient1)
  );
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 50%;
  z-index: -1;
}
/* The glow given to the border */
.Submit::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

/* The container located on the righthand */
.ZoneContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  border-radius: 10px;
}

.ZoneContainer h5 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

/* The Zones within the container */
.Zone {
  width: 100%;
  height: 20%;
  background-color: var(--Card-Basic);
  border-radius: 5px;
  position: relative;
  padding-right: 15%;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.Zone::before {
  content: "";
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background: linear-gradient(
    to bottom right,
    var(--Gradient1),
    var(--Gradient2) 50%,
    var(--Gradient3)
  );
  z-index: -1;
}
/* On true indicator for the zones */
.OnZone {
  background: linear-gradient(90deg, var(--Gradient1), var(--Blue-2));
  box-shadow: 0 0 50px 5px var(--Blue-2);
}
/* Button inside the container */
.ZoneButton {
  position: absolute;
  right: 0;
  width: 15%;
  height: 80%;
  border: none;
  border-radius: 15px;
  background-color: var(--Blue-2);
  transition: 0.6s ease background-color;
}

.ZoneButton:hover {
  background-color: var(--Blue-1);
}

.ShareButton {
  position: absolute;
  width: 10rem;
  border-radius: 20px;
  height: 5rem;
  left: 40%;
  bottom: 0;
  border: 2.5px solid var(--Blue-1);
  z-index: 1;
  background-color: var(--Blue-2);
  transform: translateX(-50%);
}

.ShareButton.True {
  color: white;
  border: 2.5px var(--Blue-1) solid;
  background: linear-gradient(
    90deg,
    var(--Gradient3) 0%,
    var(--Gradient2) 50%,
    var(--Gradient3) 100%
  );
}

.ShareButton.False {
  color: white;
  border: 2.5px red solid;
  background: linear-gradient(
    90deg,
    var(--Background) 0%,
    red 50%,
    var(--Background) 100%
  );
}
/* Tool tip */
.InputContainer span {
  position: absolute;
  font-size: large;
  background-color: transparent;
  border: 3px solid var(--Text-Blue);
  color: var(--Text-Blue);
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  bottom: 100%;
  left: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InputContainer span::after {
  content: "Data is saved per day so submiting 10min of work on zone1 and then 20min of work on zone1 will only save 20min of work";
  position: absolute;
  bottom: 80%;
  background-color: var(--Blue-1);
  color: black;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  right: 3%;
  transform: translateX(-3%);
}

.InputContainer span:hover::after {
  opacity: 1;
}
