<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable the WebSocket protocol -->
    <webSocket enabled="false"/>

    <!-- Handle Node.js applications -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- If you're using HTML5 routing in your app, this section ensures routing works properly -->
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <action type="Rewrite" url="public/{R:0}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Ensure that detailed error messages are disabled -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Log errors -->
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>