<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable the WebSocket protocol -->
    <webSocket enabled="false"/>

    <!-- Handle Node.js applications -->
    <handlers>
      <add name="iisnode" path="server/index.cjs" verb="*" modules="iisnode" />
    </handlers>

    <!-- If you're using HTML5 routing in your app, this section ensures routing works properly -->
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <match url="^server/(.*)$" />
          <action type="Rewrite" url="site/wwwroot/server/{R:1}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="site/wwwroot/server/index.cjs" />
        </rule>
      </rules>
    </rewrite>

    <!-- Ensure that detailed error messages are disabled -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Log errors -->
    <iisnode loggingEnabled="true" />

    <!-- Add MIME type mapping for .cjs files -->
    <staticContent>
      <mimeMap fileExtension=".cjs" mimeType="application/javascript" />
    </staticContent>
  </system.webServer>
</configuration>