:root {
  /* Netural */
  --grey: hsl(0, 0%, 50%);
  --grey-1: hsl(0, 0%, 30%);
  --grey-2: hsl(0, 0%, 15%);
  --grey-3: hsl(0, 0%, 10%);
  --grey-4: hsl(0, 0%, 5%);

  /* Blues */
  --Blue-1: hsl(234, 100%, 50%);
  --Blue-2: hsl(234, 100%, 35%);
  --Blue-3: hsl(234, 100%, 20%);
  /* Cyans */
  --Cyan-0: hsl(202, 100%, 80%);
  --Cyan-1: hsl(202, 100%, 50%);
  --Cyan-2: hsl(202, 100%, 35%);
  --Cyan-3: hsl(202, 100%, 20%);
}
/* The overall container for the share */
.ShareContainer {
  display: grid;
  /* They can shrink past 250 */
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-template-rows: repeat(2, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-auto-columns: minmax(250px, auto);
  background: #0a0a0a;
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

.Item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  border-radius: 0;
  background: linear-gradient(to bottom right, #000e29, #005ee7 50%, #00d4ff);
  z-index: -1;
}

/* Item container for displying user data */
.Item {
  position: relative;
  text-align: center;
  border: 3px solid #00c4f8;
  box-shadow: 0 0 30px var(--Blue-3);

  background-color: #1b1b1b;

  margin: 75px;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  height: 50%;
  width: 50%;
  transition: transform 0.7s ease, box-shadow 0.7s ease;
  z-index: 1;
}

.Item h3 {
  font-size: 1.5vh;
  margin: 0;
  padding: 0;
  color: #00d4ff;
  z-index: 2;
}

.Item:hover {
  transform: scale(1.4);
  box-shadow: 0 0 80px hsla(234, 100%, 50%, 0.5);
}
