.why-section {
  width: 100%;
  height: 60vh;
  background-color: var(--color-5);
  z-index: 10;
  position: relative;
  border-bottom: 2.5px solid var(--color-1);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  flex-direction: row;
}

.why-section-header {
  height: 100%;
  width: 55%;
  display: flex;
  align-items: center;
}

.why-section h3 {
  font-size: 6rem;
  margin-left: var(--space-7);
  color: var(--color-1);
  font-weight: 500;
  width: 60%;
}

.why-section-story {
  width: 50%;
  height: 100%;
  padding: var(--space-3);
  padding-left: 4rem;
  background-color: var(--color-4);
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.why-section-story::before {
  content: "";
  position: absolute;
  top: -100px;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: var(--color-4);
  z-index: 100;
}

.why-section-story h4 {
  font-size: 3.5rem;
  margin: 0;
  color: var(--color-2);
  font-weight: 500;
}

.why-section-story p {
  font-size: 1.1rem;
  color: var(--white-2);
  margin-top: var(--space-3);
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 1700px) {
  .why-section-story p {
    font-size: 1rem;
  }
  .why-section-story {
    width: 50%;
    height: 100%;
    padding: var(--space-2);
    padding-left: 3.5rem;
  }
  .why-section-header {
    height: 100%;
    width: 45%;
  }
  .why-section-story {
    width: 55%;
  }
}

@media (max-width: 1200px) {
  .why-section {
    flex-direction: column;
    height: auto;
  }
  .why-section-header {
    width: 100%;
    height: auto;
    padding: var(--space-1) 0;
  }

  .why-section h3 {
    width: 100%;
    margin: var(--space-4);
  }

  .why-section-story {
    width: 100%;
    border-radius: 50px;
    padding-left: var(--space-4);
  }
}

@media (max-width: 800px) {
  /* 20% text decrease */
  .why-section h3 {
    font-size: 4.8rem;
  }
  .why-section-story h4 {
    font-size: 2.8rem;
  }
  .why-section-story p {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .why-section h3 {
    font-size: 4.5rem;
  }
}
