.landing-page {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
  border-bottom: 2.5px solid var(--color-2);
  border-radius: 0 0 50px 50px;
  z-index: 500;

  overflow: hidden;
}

.landing-background-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  transform: scale(1.02);
}

.landing-content {
  z-index: 1;
  color: var(--black-2);
  padding: var(--space-4);
  margin-left: 7.5vw;
}

.landing-content h2 {
  font-size: 2rem;
  color: var(--white-1);
  margin-top: 0;
  margin-bottom: var(--space-3);
  font-weight: 500;
}
.landing-content h1 {
  font-size: 6rem;
  color: var(--color-1);
  margin: 0;
  margin-bottom: var(--space-0);
  transform: translateX(-2.5px);
  font-weight: 500;
}

.landing-content p {
  font-size: 1.25rem;
  color: var(--white-2);
  max-width: 850px;
  font-weight: 400;
}
/*  Button section*/

.landing-button-section {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  opacity: 0;
}
/* button */
.primary-action-btn {
  display: flex;
  align-items: center;
  width: auto;
  margin: auto 0;
  height: 4rem;
  font-size: 0.85rem;
  background-color: var(--color-5);
  padding: var(--space-3);
  border: none;
  border-radius: 50px;
  color: var(--color-2);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s ease-in-out;
  position: relative;
}
.primary-action-btn a {
  text-decoration: none;
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-action-btn.circle-button {
  width: 5rem;
  justify-content: center;
}

.primary-action-btn:hover {
  background-color: var(--color-2);
  color: var(--color-5);
}
/* separator */
.landing-button-section hr {
  height: 5rem;
  width: 2px;
  background-color: var(--color-2);
  margin: 0 var(--space-7);
  border: none;
}

/* side text */
.landing-button-section h3 {
  font-size: 0.85rem;
  color: var(--color-2);
  margin: 0 var(--space-3);
  align-self: center;
  text-shadow: 0 4px 8px var(--opacity-c5-normal);
  font-weight: 400;
}

@media (max-width: 800px) {
  .landing-content {
    width: 100%;
    margin-left: 0;
    padding: var(--space-2);
    height: auto;
  }
  .landing-button-section {
    width: 100%;
  }

  .primary-action-btn {
    height: 5rem;
  }
  /* All text decrease by 20% */
  .landing-content h2 {
    font-size: 1.6rem;
  }
  .landing-content h1 {
    font-size: 4.8rem;
  }
  .landing-content p {
    font-size: 1rem;
  }
  .primary-action-btn {
    font-size: 0.68rem;
    padding: var(--space-2);
  }
  .landing-button-section h3 {
    font-size: 0.68rem;
  }
  .landing-button-section hr {
    width: 3px;
    margin: 0 var(--space-4);
  }
}

@media (max-width: 400px) {
  .landing-content h1 {
    font-size: 4.5rem;
  }
}
