.landing-page {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
  border-bottom: 5px solid var(--color-2);
  border-radius: 0 0 50px 50px;
  z-index: 500;

  overflow: hidden;
}

.landing-background-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  transform: scale(1.02);
}

.landing-content {
  z-index: 1;
  color: var(--black-2);
  padding: var(--space-4);
}

.landing-content h2 {
  font-size: 1.5rem;
  color: var(--color-1);
  margin: 0;
  margin-bottom: var(--space-2);
}
.landing-content h1 {
  font-size: 4rem;
  color: var(--white-1);
  margin: 0;
  margin-bottom: var(--space-2);
  font-weight: 700;
}
.landing-content h3 {
  font-size: 3rem;
  color: var(--white-1);
  font-weight: 600;
  margin: 0;
  margin-bottom: var(--space-5);
}

.landing-content p {
  font-size: 1.5rem;
  color: var(--white-2);
  max-width: 850px;
}

.primary-action-btn {
  display: block;
  margin-left: auto;
  margin-right: -50px;
  width: auto;
  height: auto;
  font-size: 1.25rem;
  background-color: var(--color-2);
  padding: var(--space-3);
  border: none;
  border-radius: 25px;
  color: var(--color-4);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  opacity: 0;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s ease-in-out;
}

.primary-action-btn:hover {
  background-color: var(--color-1);
  color: var(--color-5);
}

@media (max-width: 1000px) {
  .landing-content {
    width: 75%;
  }

  .landing-content h2 {
    font-size: 2rem;
  }

  .landing-content h1 {
    font-size: 5rem;
  }

  .landing-content h3 {
    font-size: 4rem;
  }

  .landing-content p {
    font-size: 2rem;
  }

  .primary-action-btn {
    font-size: 2rem;
    padding: var(--space-4);
  }
}
