:root {
  /* Netural */
  --grey: hsl(0, 0%, 50%);
  --grey-1: hsl(0, 0%, 30%);
  --grey-2: hsl(0, 0%, 15%);

  /* Blues */
  --Blue-1: hsl(234, 100%, 50%);
  --Blue-2: hsl(234, 100%, 35%);
  --Blue-3: hsl(234, 100%, 20%);
  /* Cyans */
  --Cyan-1: hsl(202, 100%, 50%);
  --Cyan-2: hsl(202, 100%, 35%);
  --Cyan-3: hsl(202, 100%, 20%);
}

.DailyPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 85vh;
  margin-top: 50px;
}
