:root {
  /* Netural */
  --grey: hsl(0, 0%, 50%);
  --grey-1: hsl(0, 0%, 30%);
  --grey-2: hsl(0, 0%, 15%);

  /* Blues */
  --Blue-1: hsl(234, 100%, 50%);
  --Blue-2: hsl(234, 100%, 35%);
  --Blue-3: hsl(234, 100%, 20%);
  /* Cyans */
  --Cyan-1: hsl(202, 100%, 50%);
  --Cyan-2: hsl(202, 100%, 35%);
  --Cyan-3: hsl(202, 100%, 20%);
}

.ViewPageContainer {
  display: flex;
  align-items: center;
  background-color: var(--grey-2);
  width: 100vw;
  height: 90vh;
}

.GraphContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 70%;

  left: 7%;
  bottom: 10%;
  border: 5px solid var(--grey-1);
  border-radius: 10px;
}

.PercentageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 15%;

  width: 20%;
  height: 70%;
  border: 5px solid var(--grey-1);
}
