:root {
  /* Netural */
  --grey: hsl(0, 0%, 50%);
  --grey-1: hsl(0, 0%, 30%);
  --grey-2: hsl(0, 0%, 15%);

  /* Blues */
  --Blue-1: hsl(234, 100%, 50%);
  --Blue-2: hsl(234, 100%, 35%);
  --Blue-3: hsl(234, 100%, 20%);
  /* Cyans */
  --Cyan-1: hsl(202, 100%, 50%);
  --Cyan-2: hsl(202, 100%, 35%);
  --Cyan-3: hsl(202, 100%, 20%);
  /* Neon blue*/
  --Neon-Blue: hsl(234, 100%, 50%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Teko", sans-serif;
}

/* Overall container for the background */
.StartPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-image: url("@/Images/StartPage.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 110vh;
  width: 100vw;
  position: relative;
}
/* Helps center the textscreen text */
.StartPageContainer h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
}
/* The bottom bar that contains the buttons for naviagation */
.NavContainer {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: var(--grey-2);
  z-index: 1;
}
/* The button not including the border */
.NavBtn {
  position: relative;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(to bottom, var(--grey-1), var(--Cyan-1));
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
/* The border outside the button */
.NavBtn::after,
.NavBtn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-image: conic-gradient(var(--Neon-Blue), silver, var(--Neon-Blue));
  transform: translate(-50%, -50%);
  padding: 7.5px;
  border-radius: 5px;
  z-index: -1;
}
/* Hover glow and base glow */
.NavBtn::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.NavBtn:hover::before {
  filter: blur(3rem);
  opacity: 1;
}
/* Move down button located at the main home screen */
.MoveDown {
  font-family: "Teko", sans-serif;
  position: relative;
  top: 2vh;
  border: 5px solid var(--Cyan-3);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 0 10px hsla(202, 100%, 50%, 0.5);
  background-image: url("@/Images/Downarrow.svg");
  background-size: cover;
  cursor: pointer;

  animation: Heartbeat 3s infinite;
  background-color: rgb(0, 60, 255);
  margin-top: 45vh;
}

@keyframes Heartbeat {
  0%,
  100% {
    box-shadow: 0 0 0 20px hsla(202, 100%, 50%, 0.5);
  }
  20% {
    box-shadow: 0 0 0 30px hsla(202, 100%, 50%, 0.5);
  }
  40% {
    box-shadow: 0 0 0 20px hsla(202, 100%, 50%, 0.5);
  }
  60% {
    box-shadow: 0 0 0 30px hsla(202, 100%, 50%, 0.5);
  }
  80% {
    box-shadow: 0 0 0 20px hsla(202, 100%, 50%, 0.5);
  }
}
