.dashboard {
  height: 100vh;
  width: auto;
  margin-left: 14vw;
  display: flex;
  flex-direction: column;
  padding: 2.5vh 0;
  padding-right: 2vh;
  align-items: center;
  gap: var(--space-2);
}
/* Top area */
.dashboard-top {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
}

.dashboard-card {
  width: 20%;
  min-height: 100%;
  background-color: var(--color-4);
  border-radius: 50px;
  padding: var(--space-3);
  position: relative;
  overflow: hidden;
}

.dashboard-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--color-1) 10%, transparent 100%);
  opacity: 0.06;
  filter: blur(30px);
  pointer-events: none;
}
.dashboard-card h2 {
  color: var(--color-1);
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-size: 2.3rem;
}

.dashboard-card h3 {
  color: var(--color-2);
  font-weight: 400;
  font-size: 5rem;
  line-height: 85px;
  padding: 0;
  margin: 0;
}

.dashboard-card p {
  color: var(--white-1);
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: var(--space-2);
}

.dashboard-card p span {
  color: var(--color-1);
}

.dashboard-card.larger {
  width: 25%;
}

/* Bottom area */
.dashboard-bottom {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
}

.dashboard-bottom-card {
  width: 20%;
  min-height: 100%;
  background-color: var(--color-4);
  border-radius: 50px;
}

/* Present in both charts */

.dashboard-time-btn h4 {
  font-weight: 600;
}

/* Button and legend */
.dashboard-time-btn {
  width: 12rem;
  margin: var(--space-2);
  border: none;
  border-radius: 50px;
  color: var(--color-5);
  background-color: var(--color-1);
  font-size: 0.9rem;
  cursor: pointer;
  z-index: 5;
}

@media (max-width: 1500px) {
  .dashboard-card h2 {
    font-size: 2.3rem;
  }

  .dashboard-card h3 {
    font-size: 5rem;
  }

  .dashboard-card p {
    font-size: 1.6rem;
  }
}

@media (max-width: 1000px) {
  .dashboard-card h2 {
    font-size: 3rem;
  }

  .dashboard-card h3 {
    font-size: 5.5rem;
    line-height: 60px;
  }

  .dashboard-card p {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  /* Card and container adjustments to column */
  .dashboard {
    height: auto;
  }
  .dashboard-top,
  .dashboard-bottom {
    flex-direction: column;
    height: auto;
  }
  .dashboard-top-chart {
    width: 100%;
    height: auto;
  }
  .dashboard-card {
    width: 100%;
    height: auto;
  }
  .dashboard-card.larger {
    width: 100%;
    height: auto;
  }

  /* Text adjustments */
  .dashboard-card h2 {
    font-size: 3.5rem;
  }

  .dashboard-card h3 {
    font-size: 5.5rem;
    line-height: 60px;
  }

  .dashboard-card p {
    font-size: 2.5rem;
  }

  /* Padding and margin */
  .dashboard-card {
    padding: var(--space-4);
  }

  /* Button stuff */
  .dashboard-time-btn {
    width: 15rem;
    font-size: 1.4rem;
    margin: var(--space-4);
  }
}
