.dashboard {
  height: 100vh;
  width: auto;
  margin-left: 14vw;
  display: flex;
  flex-direction: column;
  padding: 2.5vh 0;
  padding-right: 2vh;
  align-items: center;
  gap: var(--space-2);
}
/* Top area */
.dashboard-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
}

.dashboard-card {
  width: 20%;
  height: 100%;
  background-color: var(--color-4);
  border-radius: 50px;
  padding: var(--space-3);
}

.dashboard-card h2 {
  color: var(--color-1);
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-size: 2.3rem;
}

.dashboard-card h3 {
  color: var(--color-2);
  font-weight: 400;
  font-size: 5rem;
  line-height: 85px;
  padding: 0;
  margin: 0;
}

.dashboard-card p {
  color: var(--white-1);
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: var(--space-2);
}

.dashboard-card p span {
  color: var(--color-1);
}

.dashboard-card.larger {
  width: 25%;
}

/* Bottom area */
.dashboard-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
}

.dashboard-bottom-card {
  width: 20%;
  height: 100%;
  background-color: var(--color-4);
  border-radius: 50px;
}
