.dashboard {
  height: 100vh;
  width: auto;
  margin-left: 14vw;
  display: flex;
  flex-direction: column;
  padding: 2.5vh 0;
  padding-right: 2vh;
  align-items: center;
  gap: var(--space-2);
}
/* Top dashboard */
.dashboard-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
}

/* Bottom dashboard */
.dashboard-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
}

.dashboard-bottom-chart {
  width: 80%;
  height: 100%;
  background-color: var(--color-4);
  border-radius: 50px;
}

.dashboard-bottom-card {
  width: 20%;
  height: 100%;
  background-color: var(--color-4);
  border-radius: 50px;
}
