.dashboard-bottom-chart {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-4);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.dashboard-bottom-btn-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.dashboard-bottom-chart::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--color-1) -10%, transparent 100%);
  opacity: 0.1;
  filter: blur(60px);
  pointer-events: none;
}

.line-chart {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .dashboard-bottom-chart {
    width: 100%;
    height: 25rem;
  }
}
