.dashboard-bottom-chart {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--color-4);
  border-radius: 50px;
  position: relative;
}

.dashboard-bottom-chart::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--color-1) -10%, transparent 100%);
  opacity: 0.1;
  filter: blur(60px);
  pointer-events: none;
}

.line-chart {
  width: 90%;
  height: 90%;
  background-color: transparent;
  border-radius: 8px;
}
