.login-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/loginGradient.svg");
}

.login-container {
  background-color: var(--black-2);
  padding: var(--space-6);
  border-radius: 50px;
  text-align: center;
}

.login-container h2 {
  color: var(--color-1);
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
  border: none;
}

.login-form h3 {
  color: var(--color-3);
}

.login-form hr {
  width: 100%;
  margin: var(--space-1);
  color: var(--color-3);
}

.login-form button {
  margin: var(--space-1) auto;
  height: auto;
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: var(--space-2);
  color: var(--white-2);
  background-color: var(--color-3);
}

.form-btn-error {
  transition: background-color 0.3s ease;
  background-color: red !important;
  color: var(--white-2);
}

.login-form input {
  padding: var(--space-2);
  font-size: 1rem;
  border: none;
  color: var(--color-1);
  background-color: var(--color-5);
  border-radius: 25px;
}

.switch-btn {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-color: var(--color-3);
  color: var(--white-2);
  padding: var(--space-2);
  border: none;
  transition: all 0.3s ease;
}

.switch-btn:hover {
  transform: scale(1.05);
}
