:root {
  --opening-animation-circle-size: 0px;
}

.opening-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-5);
  z-index: 1000;
  -webkit-mask-image: radial-gradient(
    circle at center,
    transparent var(--opening-animation-circle-size),
    black calc(var(--opening-animation-circle-size) + 2px)
  );
  mask-image: radial-gradient(
    circle at center,
    transparent var(--opening-animation-circle-size),
    black calc(var(--opening-animation-circle-size) + 2px)
  );
}
