.landing-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.landing-background-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  filter: blur(2.5px);
  transform: scale(1.02); /* Slightly zooms in */
}

.test-blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--color-5) 0%, var(--color-1) 100%);
  z-index: 1;
  opacity: 0.4;
}

.landing-content {
  z-index: 1;
  color: var(--black-2);
  padding: var(--space-4);
}

.landing-content h2 {
  font-size: 1.5rem;
  color: var(--color-1);
  margin: 0;
  margin-bottom: var(--space-2);
}
.landing-content h1 {
  font-size: 4rem;
  color: var(--white-1);
  margin: 0;
  margin-bottom: var(--space-2);
}
.landing-content h3 {
  font-size: 3rem;
  color: var(--white-1);
  font-weight: 600;
  margin: 0;
  margin-bottom: var(--space-5);
}

.landing-content p {
  font-size: 1.5rem;
  color: var(--white-2);
  max-width: 850px;
}

.primary-action-btn {
  display: block;
  margin-left: auto;
  width: auto;
  height: auto;
  font-size: 1.25rem;
  background-color: var(--color-1);
  padding: var(--space-2);
  border: none;
  border-radius: 15px;
  color: var(--color-5);
  cursor: pointer;
  transition: color 0.45s, background-color 0.45s ease-in-out;
}

.primary-action-btn:hover {
  background-color: var(--color-5);
  color: var(--color-1);
}

@media (max-width: 768px) {
}
