:root {
  /* Main color accents */
  --Blue-1: #00c4f8;
  --Blue-2: #008ad3;
  /* Card backgrounds */
  --Card-Basic: #1b1b1b;
  /* Common gradient */
  --Gradient1: #000e29;
  --Gradient2: #005ee7;
  --Gradient3: #00d4ff;
  /* Common text */
  --Text-White: #ffffff;
  --Text-Blue: #00d4ff;
  /* Basic background 'filler' space */
  --Background: #0a0a0a;
}

/* Overall container for the background */
.StartPageContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.enterContainer {
  display: flex;
  justify-content: center;
  width: 20vh;
  height: 20vh;
  align-items: center;
  position: relative;
}

.EnterBtn {
  font-family: "Teko", sans-serif;
  font-size: 3rem;
  position: relative;
  width: 70%;
  height: 70%;
  background-color: var(--Blue-1);
  border-radius: 10px;
  border: none;
  color: var(--Blue-1);
  cursor: pointer;
  transition: 1s ease background-color, 1s ease color, 1s ease box-shadow;
}

.EnterBtn:hover {
  background-color: var(--Gradient2);
  color: var(--Text-White);
  box-shadow: 0 0 15px var(--Blue-2);
}

.center-rotate-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Teko", sans-serif;
  margin: 0;
  font-size: 2rem;
  color: #0a0a0a;
  text-align: center;
  pointer-events: none;
}

.FrontSvg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -999;
}
/* Might help rastor errors */
.FrontSvg svg {
  shape-rendering: crispEdges;
}

.VectorAni {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 5s linear infinite alternate,
    glow 3s ease-in-out infinite alternate;
  stroke-width: 3px;
  /* Defaults */
  --VectorColor1: #00d4ff;
  --VectorColor2: #a6fffb;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes glow {
  from {
    stroke: var(--VectorColor1);
    filter: drop-shadow(0 0 15px var(--VectorColor1));
  }
  to {
    stroke: var(--VectorColor2);
    filter: drop-shadow(0 0 50px var(--VectorColor2));
  }
}
