.share-container {
  height: auto;
  width: auto;
  margin-left: 14vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-4);
  padding: 2.5vh 0;
  padding-right: 2vh;
}

.share-item {
  height: 30vh;
  background-color: var(--color-4);
  border-radius: 35px;
  position: relative;
  padding: var(--space-3);
  overflow: hidden;
}

.share-item h2 {
  color: var(--color-2);
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
  margin-bottom: var(--space-3);
}

.share-item ul {
  padding: 0;
  margin: var(--space-5);
  margin-left: var(--space-2);
}

.share-item li {
  color: var(--white-2);
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.share-item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--color-1) 10%, transparent 100%);
  opacity: 0.06;
  filter: blur(30px);
  pointer-events: none;
}

.share-button-container {
  width: 12.5vw;
  height: 120px;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 10;
  bottom: 0;
  right: 0;
  background-color: var(--color-4);
  justify-content: center;
  margin: 2vh;
  border-radius: 30px;
  transition: right 0.3s ease;
}

.share-button {
  flex: 1;
  height: 80%;
  border-radius: 20px;
  background-color: var(--color-3);
  border: none;
  left: 0;
  flex-shrink: 0;
  z-index: 5;
  position: relative;
  padding: 0;
  margin: var(--space-1);
  transition: left 0.6s ease;
}

.share-button svg {
  width: 80%;
  height: 80%;
}

.share-button svg path {
  stroke: var(--color-1);
  stroke-width: 1;
}

.share-button.active {
  left: 50%;
}

.share-button-text {
  flex: 1;
  height: 80%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: var(--space-1);
  transition: transform 0.6s ease;
}

.share-button-text h3 {
  color: var(--white-1);
  font-weight: 500;
  font-size: 0.8rem;
}

.share-button-text.active {
  transform: translateX(-100%);
}

@media (max-width: 1500px) {
}

@media (max-width: 1000px) {
  .share-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .share-item {
    padding: var(--space-4);
  }

  .share-item h2 {
    font-size: 4rem;
  }

  .share-item li {
    font-size: 1.8rem;
    margin-left: 0;
    margin-right: 0;
  }

  .share-button-container {
    width: 25vw;
    height: 150px;
  }

  .share-button-text h3 {
    font-size: 1.3rem;
  }

  .share-button-text {
    margin: var(--space-2);
  }
  .share-button {
    margin: var(--space-2);
  }
}

@media (max-width: 800px) {
  .share-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .share-button-container {
    width: 40vw;
    height: 150px;
  }

  .share-button-text h3 {
    font-size: 1.5rem;
  }
}
