:root {
  /* Netural */
  --grey: hsl(0, 0%, 50%);
  --grey-1: hsl(0, 0%, 30%);
  --grey-2: hsl(0, 0%, 15%);
  --grey-3: hsl(0, 0%, 10%);

  /* Blues */
  --Blue-1: hsl(234, 100%, 50%);
  --Blue-2: hsl(234, 100%, 35%);
  --Blue-3: hsl(234, 100%, 20%);
  /* Cyans */
  --Cyan-1: hsl(202, 100%, 50%);
  --Cyan-2: hsl(202, 100%, 35%);
  --Cyan-3: hsl(202, 100%, 20%);
}

/* Container that holds the LogSingin box */
.LogSignContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--grey-3);
  height: 90vh;
  width: 100vw;
}

/* The visable box that contains the text boxes */
.LogSignPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  background: linear-gradient(to bottom, var(--Blue-1), silver);
  border-radius: 100px;
}

.LogSignPage input {
  font-family: "Teko", sans-serif;
  font-size: 1em;
}

/* The input group is the text boxes the are used to send the username and password */
.input-group input {
  width: 500px;
  height: 45px;
  border: 10px solid silver;
  border-radius: 5px;
  background-color: rgb(150, 150, 150);
  margin: 10px;
  box-shadow: 0 8px 16px var(--Blue-3);
}
/* The switch button */
.Switch {
  font-family: "Teko", sans-serif;
  font-size: 1em;
  background-color: var(--Blue-1);
  margin: 10px;
  border: 5px solid black;
  border-radius: 5px;
  height: 60px;
  width: 85px;
  color: white;
}
/* The button that either logs the user in or signs them up */
.loginOrSign {
  font-family: "Teko", sans-serif;
  font-size: 1em;
  color: white;
  width: 200px;
  height: 75px;
  background: linear-gradient(to right, var(--Blue-1), orange);
  border-radius: 50px;
  border: none;
  margin: 10px;
}
/* Animations to notifiy the user if something was successful */
.AnimatePulseRed {
  animation: PulseRed 3s ease-in-out;
}
.AnimatePulseGreen {
  animation: PulseGreen 3s ease-in-out;
}
/* The bubble background can find the relevant jsx in the background.jsx file */
.Background {
  position: absolute;
  width: 100%;
  display: flex;
}

.Background span {
  position: relative;
  width: 30px;
  height: 30px;
  background: var(--Cyan-1);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc,
    0 0 150px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(15s / var(--i) * 10);
}

.Background span:nth-child(even) {
  background: silver;
  box-shadow: 0 0 0 10px var(--grey-1), 0 0 50px silver, 0 0 100px silver,
    0 0 150px silver;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
/* Pulse indicators */
@keyframes PulseRed {
  0% {
    border-color: hsl(0, 100%, 80%);
  }
  25% {
    border-color: hsl(0, 100%, 75%);
  }
  50% {
    border-color: hsl(0, 100%, 70%);
  }
  75% {
    border-color: hsl(0, 100%, 65%);
  }
  100% {
    border-color: hsl(0, 100%, 60%);
  }
}

@keyframes PulseGreen {
  0% {
    border-color: hsl(120, 100%, 85%);
  }
  25% {
    border-color: hsl(120, 100%, 80%);
  }
  50% {
    border-color: hsl(120, 100%, 75%);
  }
  75% {
    border-color: hsl(120, 100%, 70%);
  }
  100% {
    border-color: hsl(120, 100%, 60%);
  }
}
