/*  */
/* Main section container */
/*  */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-32);
  gap: var(--space-32);
}
/*  */
/* Top text area */
/*  */
.about-section-header {
  display: flex;
  gap: var(--space-64);
}
/*  */
/* Left side text */

.about-section-header-container {
  display: flex;
  flex-direction: column;
}

.about-section-header h2 {
  font-size: var(--typo-size-96);
  font-weight: var(--typo-weight-semi-bold);
  margin: 0;
  color: var(--color-2);
  width: fit-content;
  white-space: nowrap;
}

/*  */
/* Right side text */
.about-section-header-text {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: auto;
}

.about-section-header-text h3 {
  font-size: var(--typo-size-24);
  font-weight: var(--typo-weight-medium);
  color: var(--color-1);
  margin: 0;
}

/* Bottom para's */
.about-section-header-text-para {
  display: flex;
  gap: var(--space-32);
}

.about-section-header-text-para p {
  font-size: var(--typo-size-16);
  font-weight: var(--typo-weight-regular);
  width: 50%;
  color: var(--typo-color-medium);
}
/*  */
/* Bottom card area */
/*  */
.about-section-cards {
  display: flex;
  gap: var(--space-24);
}
/*  */
/* Left side cards */
.about-section-cards-left {
  width: 50%;
  display: flex;
  align-items: flex-end;
  gap: var(--space-24);
}

/* Cards */
.about-section-cards-left-item {
  width: 100%;
  height: fit-content;
  background-color: var(--color-4);
  padding: var(--space-24);
  border-radius: 40px;
  transition: background-color var(--motion-medium-1) var(--power-2-out);
}

.about-section-cards-left-item:hover {
  background-color: var(--color-3);
}

/* Cards text */
.about-section-cards-left-item-text {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-128);
  gap: var(--space-16);
}

.about-section-cards-left-item-text h3 {
  color: var(--color-2);
  font-weight: var(--typo-weight-regular);
  font-size: var(--typo-size-36);
  margin: 0;
}

.about-section-cards-left-item-text p {
  color: var(--typo-color-low);
  font-weight: var(--typo-weight-regular);
  font-size: var(--typo-size-16);
  margin: 0;
}

/*  */
/* Right side cards */

.about-section-cards-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background-color: var(--color-4);
  transition: background-color var(--motion-medium-1) var(--power-2-out);
}

.about-section-cards-right:hover {
  background-color: var(--color-3);
}

.about-section-cards-right-text {
  width: 100%;
  height: 50%;
  padding: var(--space-24);
}

.about-section-cards-right-text h3 {
  color: var(--color-2);
  font-weight: var(--typo-weight-regular);
  font-size: var(--typo-size-36);
  margin: 0;
  margin-bottom: var(--space-16);
}

.about-section-cards-right-text p {
  color: var(--typo-color-low);
  font-weight: var(--typo-weight-regular);
  font-size: var(--typo-size-16);
  margin: 0;
}

.about-section-cards-right-image {
  width: 100%;
  height: 50%;
  position: relative;
}

.about-section-cards-right-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.about-section-cards-right-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--img-opacity-low);
  border-radius: 40px;
  z-index: 1;
}

@media (max-width: 1500px) {
  .about-section-cards {
    flex-direction: column;
  }
  .about-section-cards-left {
    width: 100%;
  }
  .about-section-cards-right {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .about-section-header-text-para {
    flex-direction: column;
  }

  .about-section-header-text-para p {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .about-section-header {
    flex-direction: column;
  }

  .about-section-header-container {
    width: fit-content;
  }
}

@media (max-width: 700px) {
  .about-section-cards-left {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .about-section-cards-left-item {
    padding: var(--space-24);
  }
}
