.daily {
  height: 100vh;
  width: auto;
  margin-left: 13vw;
  display: flex;
  padding: 1vh 0;
  padding-right: 1vh;
  align-items: center;
  gap: var(--space-3);
}
/*  */
/* The left side css */
/*  */
.daily-container-left {
  width: 65%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: var(--space-3);
}

.instruct-container {
  flex: 1;
  display: flex;
  gap: var(--space-3);
  position: relative;
  overflow: hidden;
}

.instruct-card {
  flex: 1;
  height: 100%;
  background-color: var(--color-4);
  border-radius: 50px;
  padding: var(--space-3);
  overflow: hidden;
  position: relative;
}

.instruct-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--color-1) 0%, transparent 100%);
  opacity: 0.06;
  filter: blur(30px);
  pointer-events: none;
}

.instruct-card h2 {
  color: var(--color-2);
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: var(--space-3);
}

.instruct-card p {
  color: var(--white-1);
  font-size: 1.6rem;
  margin: 0;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

.instruct-card pre {
  white-space: pre-wrap;
  color: var(--white-1);
  font-size: 0.95rem;
  margin: 0;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

/* Bottom of leftside the zones */
.zone-container {
  width: 100%;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  overflow: hidden;
  gap: var(--space-4);
}

.zone-button {
  flex: 1;
  height: 90%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-4);
  border: none;
  overflow: hidden;
  bottom: 0;
  transition: bottom 0.5s ease-in-out;
}

.zone-button.active {
  bottom: var(--space-3);
}

.zone-button.active h4 {
  color: var(--color-1);
}

.zone-button:hover {
  cursor: pointer;
  bottom: var(--space-3);
}

.zone-button:hover h4 {
  color: var(--color-1);
}

.zone-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--color-1) 10%, transparent 100%);
  opacity: 0.06;
  filter: blur(30px);
  pointer-events: none;
}

.zone-button h4 {
  color: var(--white-1);
  font-weight: 500;
  font-size: 1.5rem;
  transition: color 0.5s ease-in-out;
}

.zone-button h5 {
  color: var(--color-2);
  font-weight: 400;
  font-size: 7.5rem;
  margin: auto 0;
}
/*  */
/* The right side css aka input */
/*  */
.daily-container-right {
  width: 35%;
  height: 100%;
  background-color: var(--color-5);
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  position: relative;
  overflow: hidden;
}

.daily-submit-container {
  width: 100%;
  flex: 1;
  border-radius: 50px;
  background-color: var(--color-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.daily-submit-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--color-1) 10%, transparent 100%);
  opacity: 0.06;
  filter: blur(30px);
  pointer-events: none;
}

.daily-input-container {
  width: 90%;
  height: 50%;
  background-color: var(--color-3);
  margin: var(--space-3);
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.daily-input {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
}

.daily-input input {
  width: 80%;
  height: 50%;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  color: var(--color-1);
}

.daily-input input:focus {
  outline: none;
}

.daily-input input::placeholder {
  color: var(--color-1);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.daily-input h3 {
  position: absolute;
  color: var(--white-2);
  top: 5%;
  font-size: 1rem;
  font-weight: 300;
}

.daily-input-container svg {
  margin: var(--space-3);
}

.daily-submit-button {
  width: 40%;
  padding: var(--space-2) 0;
  background-color: var(--color-2);
  height: auto;
  color: var(--white-1);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.daily-submit-button h4 {
  margin: var(--space-0);
  font-size: 1.25rem;
  font-weight: 500;
}

/* Right side end */

@media (max-width: 1500px) {
  .daily-input h3 {
    font-size: 1.23rem;
  }

  .daily-input input {
    font-size: 1.65rem;
  }
  .instruct-card p {
    font-size: 1.5rem;
  }

  .instruct-card pre {
    font-size: 1.1rem;
  }

  .zone-button h5 {
    font-size: 9rem;
  }
}

@media (max-width: 1000px) {
  .instruct-card h2 {
    font-size: 3.5rem;
    margin: var(--space-3) 0;
  }

  .instruct-card p {
    font-size: 2rem;
  }

  .instruct-card pre {
    font-size: 1.5rem;
  }
  /* Submit button */
  .daily-submit-button {
    width: 60%;
    margin: var(--space-3);
    padding: var(--space-3) 0;
  }

  .daily-submit-button h4 {
    font-size: 1.5rem;
  }
  /* Input */
}

@media (max-width: 800px) {
  /* Top container styles */
  .daily {
    flex-direction: column;
    height: auto;
    margin-left: 16vw;
  }
  .daily-container-left,
  .daily-container-right {
    width: 100%;
    height: auto;
  }

  .instruct-container {
    height: 100%;
    flex-direction: column;
    flex: none;
  }

  .instruct-card {
    min-height: 35rem;
    padding: var(--space-4);
  }

  .zone-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-3);
    flex: none;
    padding: var(--space-3);
  }

  .zone-button {
    width: auto;
    height: auto;
    flex: none;
  }

  /* Bottom container styles */
  .daily-submit-container {
    height: 30vh;
    flex: none;
    padding: var(--space-4) 0;
  }

  .daily-submit-button {
    margin: var(--space-4);
    padding: var(--space-4) 0;
  }
  /* Text */

  .instruct-container h2 {
    font-size: 4.5rem;
  }

  .instruct-container pre {
    font-size: 2rem;
  }

  .instruct-container p {
    font-size: 2.5rem;
  }

  .zone-button h4 {
    margin: var(--space-2);
    font-size: 2rem;
  }

  .zone-button h5 {
    font-size: 10rem;
  }
  .daily-input h3 {
    font-size: 1.55rem;
  }

  .daily-input input {
    font-size: 2.25rem;
  }
}
