body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--color-5);
  overflow-x: hidden;
  font-size: 100%;
}

html {
  line-height: 1.6;
  overflow-x: hidden;
  font-size: clamp(1rem, 0.9rem + 0.7vw, 1.25rem);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Neutrals */
  --white-1: #f5f5f5;
  --white-2: #dfdfdf;
  --black-1: #1c1c1c;
  --black-2: #333333;
  /* Color palette */
  --color-1: #00df82;
  --color-2: #2cc295;
  --color-3: #03624c;
  --color-4: #032221;
  --color-5: #021b1a;
  /* Opacity versions */
  --opacity-c1-normal: hsl(155, 100%, 44%);
  --opacity-c1-light: rgb(0, 223, 130, 0.25);
  --opacity-c1-s-light: rgb(0, 223, 130, 0.2);
  --opacity-c1-ul-light: rgb(0, 223, 130, 0.15);
  /*  */
  --opacity-c5-normal: rgba(2, 27, 26, 0.5);
  --opacity-c5-s-light: rgba(2, 27, 26, 0.2);
  /*  */
  --opacity-c2-normal: rgba(44, 194, 149, 0.5);
  --opacity-c2-light: rgba(44, 194, 149, 0.25);
  --opacity-c2-s-light: rgba(44, 194, 149, 0.2);
  --opacity-c2-ul-light: rgba(44, 194, 149, 0.15);

  --light-1: rgb(0, 223, 130, 0.09);
  /* Spacing */
  --space-0: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;
  --space-7: 4rem;
}
