body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Neutrals */
  --white-1: #f5f5f5;
  --white-2: #e0e0e0;
  --black-1: #1c1c1c;
  --black-2: #333333;
  /* Color palette */
  --color-1: #d8f3dc;
  --color-2: #95d5b2;
  --color-3: #52b788;
  --color-4: #2d6a4f;
  --color-5: #081c15;
  /* Spacing */
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;
}

@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 7px;
  }
}
