/* Overhead container */
.login-section {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: row;
  justify-content: center;
  background-color: var(--color-5);
  border-top: 2.5px solid var(--color-1);
  border-radius: 50px;
  z-index: 10;
}
/* Left side section */
.login-welcome-section {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  border-top-left-radius: 50px;
  align-items: center;
  justify-content: center;
}

.login-welcome-section svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.login-welcome-section h2 {
  position: relative;
  color: var(--white-1);
  font-weight: 700;
  font-size: 7.5rem;
  text-align: center;
  z-index: 5;
}

.welcome-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.5) 0%, transparent 90%);

  opacity: 0.6;
  filter: blur(30px);
  z-index: 1;
}

/* Right side section */

.login-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-section {
  padding: var(--space-6);
  border-radius: 50px;
  width: 30vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-form-section h3 {
  color: var(--color-1);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: var(--space-1);
  text-align: center;
}

.login-form-section p {
  color: var(--white-1);
  margin: 0;
  font-size: 1.3rem;
  margin-bottom: var(--space-4);
  font-weight: 400;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  border: none;
}

.login-form h4 {
  color: var(--color-2);
  margin: 0;
  margin-bottom: var(--space-1);
  margin-left: var(--space-2);
  font-size: 1.25rem;
  font-weight: 500;
}
.login-form input {
  padding: var(--space-2);
  font-size: 1.25rem;
  border: none;
  color: var(--white-1);
  margin-bottom: var(--space-3);
  background-color: var(--color-3);
  border-radius: 25px;
  z-index: 5;
}

.login-form h5 {
  color: var(--white-1);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: var(--space-2);
  cursor: pointer;
}

.login-form span {
  color: var(--color-1);
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.login-form button {
  border: none;
  background-color: var(--color-1);
  font-size: 1.25rem;
  color: var(--white-2);
  padding: var(--space-2);
  border-radius: 25px;
  cursor: pointer;
}

.login-form button h4 {
  margin: auto;
  font-weight: 600;
  color: var(--white-1);
}

.form-btn-error {
  transition: background-color 0.3s ease;
  background-color: red !important;
  color: var(--white-2);
}

@media (max-width: 1500px) {
  .login-form-section {
    width: 35vw;
  }

  .login-form-section h3 {
    font-size: 2.8rem;
  }
  .login-form-section p {
    font-size: 1.5rem;
  }

  .login-form h4 {
    font-size: 1.5rem;
  }
  .login-form input {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .login-form-section {
    width: 40vw;
  }

  .login-form-section h3 {
    font-size: 4rem;
  }
  .login-form-section p {
    font-size: 2.25rem;
    margin-bottom: var(--space-6);
  }

  .login-form h4 {
    font-size: 2rem;
  }
  .login-form input {
    font-size: 2rem;
  }
  .login-form input {
    padding: var(--space-3);
  }
  .login-form h5 {
    font-size: 1.5rem;
  }
  .login-form button {
    font-size: 2rem;
    padding: var(--space-3);
  }
}

@media (max-width: 800px) {
  .login-form-section {
    width: 100%;
    padding: var(--space-3);
  }

  .login-welcome-section {
    flex: none;
    width: 40%;
  }

  .login-welcome-section h2 {
    font-size: 5rem;
  }
}
