/*  */
/* Main parents */
/*  */
.featured-section {
  height: 170vh;
  width: 100%;
  background-color: var(--color4);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 0 0 50px 50px;
}

.featured-section-leftside {
  position: relative;
  width: 100%;
  height: 100%;
}

.featured-section-rightside {
  position: relative;
  width: 100%;
  height: 100%;
}

.featured-section svg {
  position: absolute;
  top: 50%;
  left: -15%;
  width: 150%;
  height: 150%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 5;
}
/*  */
/* Cards */
/*  */
/* Featured Cards left side small */
.featured-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  height: 30%;
  background-color: var(--color-4);
  padding: var(--space-2);
  border: 1px solid var(--color-1);
  border-radius: 50px;
  z-index: 5;
  position: relative;
  overflow: hidden;
}
.featured-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    600px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    var(--opacity-c1-s-light),
    transparent 40%
  );

  opacity: var(--glow-opacity, 0);
  filter: blur(50px);
  transition: opacity 0.4s ease-out;
  pointer-events: none;
  z-index: 0;
}

.featured-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--color-1) 10%, transparent 100%);
  opacity: 0.06;
  filter: blur(30px);
  pointer-events: none;
  z-index: 10;
}
/* Basic featured card but reversed */
.featured-card--right {
  flex-direction: row-reverse;
}
/* Introduction variant */
.featured-card--introduction {
  width: 100%;
  height: 40%;
  border: none;
  border-radius: 0px;
  border-bottom-left-radius: 50px;
  background-color: var(--color-4);
}

.featured-card.featured-card--introduction h4 {
  color: var(--color-1);
  font-size: 3.5rem;
  width: 80%;
  margin-bottom: var(--space-6);
}
/* Large featured card variant */
.featured-card--big {
  width: 100%;
  height: 50%;
  border: none;
  background-color: var(--color-4);
  border-radius: 0px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.featured-card--big:nth-child(even) {
  border-radius: 50px;
}

.featured-card.featured-card--big h4 {
  font-size: 4rem;
  margin: var(--space-7) 0;
}

.featured-card.featured-card--big p {
  font-size: 2rem;
}

.featured-card--big .featured-card-image {
  position: absolute;
  border-radius: 50px;
  width: calc(100% - 2 * var(--space-2) + 5px);
  height: calc(100% - 2 * var(--space-2) + 5px);
}

.featured-card--big .featured-card-image::before {
  background-color: var(--color-3);
  opacity: 0.6;
  mix-blend-mode: multiply;
}

.featured-card-image {
  flex: 1;
  height: 100%;
  position: relative;
  border-radius: inherit;
  overflow: hidden;
  z-index: 5;
  transition: transform 0.5s ease;
}

.featured-card-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-2);
  opacity: 0.1;
  pointer-events: none;
  z-index: 10;
}

.featured-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.featured-card-image img:hover {
  transform: scale(1.05);
}
.featured-card-image:hover {
  transform: scale(1.025);
}

/* Card internals Text area */
.featured-card-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.featured-card-text h4 {
  margin: 0;
  font-weight: 500;
  font-size: 2.5rem;
  margin: var(--space-0) 0;
  width: 70%;
  color: var(--white-1);
  z-index: 10;
}

.featured-card-text p {
  margin: 0;
  font-size: 1.25rem;
  color: var(--white-2);
  z-index: 10;
}

/* Featured pills */
.featured-card-text-pill {
  min-width: 7.5rem;
  flex-shrink: 0;
  align-self: flex-start;
  position: relative;
  background-color: var(--color-3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: filter 0.5s ease-in-out;
}

.featured-card-text-pill h3 {
  margin: var(--space-2);
  color: var(--color-2);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.featured-card-text span {
  height: 60%;
  aspect-ratio: 1;
  margin: var(--space-2);
  margin-right: 0;
  border-radius: 15px;
  background-color: var(--color-1);
}
.featured-card-text-pill--second {
  background-color: var(--color-1);
}

.featured-card-text-pill--second h3 {
  color: var(--color-4);
}

.featured-card-text-pill--second span {
  background-color: var(--color-4);
}

.featured-card-text-pill--third {
  background-color: var(--color-2);
}

.featured-card-text-pill--third:before {
  background: linear-gradient(to right, transparent, var(--opacity-c1-light));
}

.featured-card-text-pill--third h3 {
  color: var(--color-3);
}

.featured-card-text-pill--third span {
  background-color: var(--color-4);
}

@media (max-width: 1500px) {
  .featured-card-text h4 {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .featured-section svg {
    width: 175%;
    height: 175%;
  }
}

@media (max-width: 800px) {
  /* Decrease by 20% */
  .featured-card-text h4 {
    font-size: 2rem;
  }
  .featured-card-text p {
    font-size: 1rem;
  }
  .featured-card-text-pill h3 {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .featured-section svg {
    width: 325%;
    height: 325%;
  }

  .featured-card-image {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .featured-card-image img {
    filter: blur(1px);
  }

  .featured-card-image::before {
    opacity: 0.5;
    z-index: 10;
    background-color: var(--color-5) !important;
  }

  .featured-card-text {
    z-index: 15;
    width: 75%;
    flex: none;
    margin-right: auto;
  }
}

@media (max-height: 750px) {
  .featured-section {
    height: 225vh;
  }
}

@media (max-height: 700px) {
  .featured-section {
    height: 250vh;
  }
}
