.featured-section {
  background-color: var(--color-5);
  position: relative;
  min-height: 150vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: var(--space-2);
  margin-bottom: var(--space-3);
}

/*  */
/* Small featured card */
/*  */
.small-featured:nth-child(2) {
  grid-area: 5 / 1 / 8 / 6;
  margin-top: 0;
}
.small-featured:nth-child(2) .small-featured-image {
  margin-right: var(--space-2);
}
/*  */
.small-featured:nth-child(3) {
  grid-area: 8 / 1 / 11 / 6;
  flex-direction: row-reverse;
  margin-bottom: 0;
}

.small-featured:nth-child(3) .small-featured-image {
  margin-left: var(--space-2);
}

.small-featured {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: var(--space-1);

  background-color: var(--color-4);
  padding: var(--space-2);
  border: none;
  border-radius: 50px;
  z-index: 5;
  position: relative;
  overflow: hidden;
  margin-right: var(--space-3);
}

.small-featured::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--color-1) 10%, transparent 100%);
  opacity: 0.06;
  filter: blur(30px);
  pointer-events: none;

  z-index: 10;
}
/* Card image area */
.small-featured-image {
  width: 40%;
  height: 100%;
  position: relative;
  border-radius: inherit;
  overflow: hidden;
  z-index: 5;
  transition: box-shadow var(--duration-normal-3) var(--easing-power3-out);
}

.small-featured-image:hover {
  box-shadow: var(--shadow-medium);
}

.small-featured-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-2);
  opacity: 0.1;
  pointer-events: none;
  z-index: 10;
}

.small-featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
/* Card text area */
.small-featured-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 10;
}

.small-featured-text h4 {
  margin: 0;
  font-weight: 500;
  font-size: 2.5rem;
  margin: var(--space-0) 0;
  width: 90%;
  color: var(--white-1);
  z-index: 10;
}

.small-featured-text p {
  margin: 0;
  font-size: 1.25rem;
  color: var(--white-2);
  z-index: 10;
}

/*  */
/* Medium featured */
/*  */

.medium-featured {
  grid-area: 1 / 1 / 5 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  background-color: var(--color-4);
  padding: var(--space-3);
  border: none;
  z-index: 5;
  position: relative;
  overflow: visible;
  margin-right: var(--space-3);
  margin-bottom: var(--space-3);
  border-bottom-left-radius: 50px;
}

.medium-featured-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.medium-featured-text h4 {
  margin: 0;
  font-weight: 500;
  font-size: 3.5rem;
  width: 80%;
  color: var(--color-1);
  z-index: 10;
  margin-bottom: var(--space-6);
}

.medium-featured-text p {
  margin: 0;
  font-size: 1.25rem;
  color: var(--white-2);
  z-index: 10;
}

/* Splips */

.medium-featured span {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 100;
  background-color: var(--color-4);
  overflow: hidden;
}

.medium-featured span:nth-child(1) {
  top: -100px;
  left: 0%;
  width: 100vw;
}
/* This has a before because of the card bellow it */
.medium-featured span:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, var(--color-1) 10%, transparent 50%);
  opacity: 0.06;
  filter: blur(30px);
}

/* This add's the corner in the bottom right of the card on desktop */
.medium-featured span:nth-child(2) {
  width: 75px;
  height: 75px;
  left: calc(100% - calc(75px - var(--space-3)));
  top: 100%;
  mask-image: radial-gradient(circle at 100% 0%, transparent 69%, black 71%);
  -webkit-mask-image: radial-gradient(
    circle at 100% 0%,
    transparent 69%,
    black 71%
  );
  transform: rotate(180deg);
}

.medium-featured span:nth-child(3) {
  left: 100%;
  width: var(--space-3);
  height: 100%;
}

.featured-card.featured-card--introduction h4 {
  color: var(--color-1);
  font-size: 3.5rem;
  width: 80%;
  margin-bottom: var(--space-6);
}

/*  */
/* Large featured  */
/*  */

.large-featured:nth-child(4) {
  grid-area: 1 / 6 / 6 / 11;
  border-bottom-left-radius: 50px;
}
/* Special before to match the top span slip in medium */
.large-featured:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, var(--color-1) 10%, transparent 100%);
  opacity: 0.06;
  filter: blur(30px);
}
/* Large card without image */
.large-featured:nth-child(5) {
  grid-area: 6 / 6 / 11 / 11;
  margin-top: var(--space-3);
  border-radius: 50px;
}

.large-featured:nth-child(5) .large-featured-text p {
  font-size: 1.25rem;
}

.large-featured:nth-child(5) .large-featured-text h4 {
  margin: var(--space-4) 0;
}

.large-featured {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  background-color: var(--color-4);
  padding: var(--space-4);
  padding-top: var(--space-5);
  border: none;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.large-featured::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--color-1) 10%, transparent 100%);
  opacity: 0.06;
  filter: blur(30px);
  pointer-events: none;

  z-index: 10;
}

/* Image */
.large-featured-image {
  width: calc(100% - 2 * var(--space-4) + 5px);
  height: calc(100% - 2 * var(--space-4) + 5px);
  position: absolute;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;

  transition: box-shadow var(--duration-normal-3) var(--easing-power3-out);
}

.large-featured-image::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background-color: var(--color-3);
  opacity: 0.6;
  mix-blend-mode: multiply;
  z-index: 3;
}

.large-featured-image:hover {
  box-shadow: var(--shadow-medium);
}

.large-featured-image img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.5s ease;
}
/* Text */
.large-featured-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 5;
}

.large-featured-text h4 {
  margin: 0;
  font-weight: 500;
  font-size: 4rem;
  margin: var(--space-7) 0;
  width: 90%;
  color: var(--white-1);
  z-index: 5;
}

.large-featured-text p {
  margin: 0;
  font-size: 2rem;
  color: var(--white-2);
  z-index: 5;
}

/*  */
/* Pill classes */
/*  */

.text-pill {
  min-width: 12.5rem;
  height: 3.5rem;

  align-self: flex-start;
  position: relative;
  background-color: var(--color-3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: var(--space-0) 0;
  transition: box-shadow var(--duration-fast-3) ease-in-out;
  z-index: 10;
}
.text-pill:hover {
  box-shadow: var(--shadow-small);
}

.text-pill h3 {
  margin: var(--space-2);
  color: var(--color-2);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.text-pill span {
  height: 60%;
  aspect-ratio: 1;
  margin: var(--space-2);
  margin-right: 0;
  border-radius: 15px;
  background-color: var(--color-1);
}
/* Second pill */

.text-pill--second {
  background-color: var(--color-1);
}

.text-pill--second h3 {
  color: var(--color-4);
}

.text-pill--second span {
  background-color: var(--color-4);
}

/* Third pill */
.text-pill--third {
  background-color: var(--color-2);
}

.text-pill--third h3 {
  color: var(--color-3);
}

.text-pill--third span {
  background-color: var(--color-4);
}

/* Decrease font by 10% */
@media (max-width: 1500px) {
  .small-featured-text h4 {
    font-size: 2.25rem;
  }

  .small-featured-text p {
    font-size: 1.125rem;
  }

  .medium-featured-text h4 {
    font-size: 3.15rem;
  }

  .medium-featured-text p {
    font-size: 1.125rem;
  }

  .featured-card.featured-card--introduction h4 {
    font-size: 3.15rem;
  }

  .large-featured-text h4 {
    font-size: 3.6rem;
  }

  .large-featured-text p {
    font-size: 1.8rem;
  }

  .text-pill h3 {
    font-size: 1.125rem;
  }
}
/* Column based edits */
/* Here we change to single column layout all edits are related to that */
@media (max-width: 1000px) {
  .featured-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  .medium-featured {
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 0;
    margin-bottom: var(--space-3);
  }

  .medium-featured span:nth-child(2) {
    display: none;
  }

  .medium-featured span:nth-child(3) {
    display: none;
  }

  .small-featured:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: var(--space-3);
  }

  .small-featured:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
    margin-right: 0;
    margin-bottom: var(--space-3);
  }

  .large-featured:nth-child(4) {
    grid-area: 4 / 1 / 5 / 2;
    border-radius: 50px;
    margin-top: 0;
  }

  .large-featured:nth-child(5) {
    grid-area: 5 / 1 / 6 / 2;
    margin-top: var(--space-3);
  }

  .small-featured {
    padding: var(--space-3);
  }

  .small-featured-text {
    width: 90%;
  }

  .small-featured-image {
    position: absolute;
    width: calc(100% - var(--space-3));
    height: calc(100% - var(--space-3));
    margin: 0 !important;
  }

  .small-featured-image::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background-color: var(--color-3);
    opacity: 0.7;
    mix-blend-mode: multiply;
    z-index: 3;
  }
}

@media (max-width: 400px) {
  .small-featured-text h4 {
    font-size: 2rem;
  }

  .small-featured-text p {
    font-size: 1rem;
  }

  .medium-featured-text h4 {
    font-size: 2.8rem;
  }

  .medium-featured-text p {
    font-size: 1rem;
  }

  .featured-card.featured-card--introduction h4 {
    font-size: 2.8rem;
  }

  .large-featured-text h4 {
    font-size: 3.2rem;
  }

  .large-featured-text p {
    font-size: 1.6rem;
  }

  .text-pill h3 {
    font-size: 1rem;
  }
}
