/*  */
/* Main parents */
/*  */
.featured-section {
  height: auto;
  width: 100%;
  background-color: var(--color4);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 0 0 50px 50px;
  padding-bottom: var(--space-3);
  border-bottom: 2.5px solid var(--color-1);
  padding-top: var(--space-2);
}

.featured-section-leftside {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.3fr 0.3fr;
  width: 100%;
  height: 175vh;
  overflow: visible;

  gap: var(--space-3);
}

.featured-section-rightside {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: var(--space-3);
  width: 100%;
  height: 175vh;
}

/*  */
/* Cards */
/*  */
/* Featured Cards left side small with image attached*/
.featured-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  height: 100%;
  background-color: var(--color-4);
  padding: var(--space-2);
  border: none;
  border-radius: 50px;
  z-index: 5;
  position: relative;
  overflow: hidden;
  margin-right: var(--space-3);
}
.featured-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    600px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    var(--opacity-c1-s-light),
    transparent 40%
  );

  opacity: var(--glow-opacity, 0);
  filter: blur(50px);
  transition: opacity 0.4s ease-out;
  pointer-events: none;
  z-index: 0;
}

.featured-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(315deg, var(--color-1) 10%, transparent 100%);
  opacity: 0.06;
  filter: blur(30px);
  pointer-events: none;

  z-index: 10;
}

.featured-card-image {
  width: 40%;
  height: 100%;
  position: relative;
  border-radius: inherit;
  overflow: hidden;
  z-index: 5;
  transition: transform 0.5s ease;
}

.featured-card-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-2);
  opacity: 0.1;
  pointer-events: none;
  z-index: 10;
}

.featured-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* Card internals Text area */
.featured-card-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.featured-card-text h4 {
  margin: 0;
  font-weight: 500;
  font-size: 2.5rem;
  margin: var(--space-0) 0;
  width: 90%;
  color: var(--white-1);
  z-index: 10;
}

.featured-card-text p {
  margin: 0;
  font-size: 1.25rem;
  color: var(--white-2);
  z-index: 10;
}

/*  */
/* Left and right variants */
/*  */
.featured-card--right .featured-card-image {
  margin-left: var(--space-2);
}

.featured-card--left .featured-card-image {
  margin-right: var(--space-2);
}

.featured-card--right {
  flex-direction: row-reverse;
}
/*  */
/* Introduction variant aka top left card*/
/*  */
.featured-card--introduction {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0px;
  border-bottom-left-radius: 50px;
  background-color: var(--color-4);
  overflow: visible;
}
/* These are splip's used to coverup spaces that use the background color color-5 where I dont want them to show through */
.featured-card--introduction span {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 100;
  background-color: var(--color-4);
}

.featured-card--introduction span:nth-child(1) {
  top: -100px;
  left: 0%;
  width: 100vw;
}

.featured-card--introduction span:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, var(--color-1) 10%, transparent 50%);
  opacity: 0.06;
  filter: blur(30px);
}

/* This add's the corner in the bottom right of the card on desktop */
.featured-card--introduction span:nth-child(2) {
  width: 75px;
  height: 75px;
  left: calc(100% - 75px);
  top: 100%;
  mask-image: radial-gradient(circle at 100% 0%, transparent 69%, black 71%);
  -webkit-mask-image: radial-gradient(
    circle at 100% 0%,
    transparent 69%,
    black 71%
  );
  transform: rotate(180deg);
}

.featured-card--introduction::after {
  background: none;
}
/* Introduction text */
.featured-card--introduction .featured-card-text {
  width: 100%;
}
.featured-card.featured-card--introduction h4 {
  color: var(--color-1);
  font-size: 3.5rem;
  width: 80%;
  margin-bottom: var(--space-6);
}
/*  */
/* Large featured card variant */
/*  */
.featured-card--big {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--color-4);
  border-radius: 0px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: var(--space-5);
}

.featured-card--big:nth-child(even) {
  border-radius: 50px;
  padding: var(--space-4);
}

.featured-card--big:nth-child(odd)::after {
  background: linear-gradient(270deg, var(--color-1) 10%, transparent 100%);
}

.featured-card--big .featured-card-image {
  position: absolute;
  border-radius: 50px;
  width: calc(100% - 2 * var(--space-4) + 5px);
  height: calc(100% - 2 * var(--space-4) + 5px);
}

.featured-card--big .featured-card-image::before {
  background-color: var(--color-3);
  opacity: 0.6;
  mix-blend-mode: multiply;
}
/* Text sizing for big variant */
.featured-card--big .featured-card-text {
  width: 100%;
}
.featured-card.featured-card--big p {
  font-size: 2rem;
}

.featured-card--big:nth-child(even) h4 {
  margin: var(--space-5) 0 !important;
  color: var(--white-1) !important;
}

.featured-card--big:nth-child(even) p {
  color: var(--white-1) !important;
  font-size: 1.25rem !important;
}
.featured-card.featured-card--big h4 {
  font-size: 4rem;
  margin: var(--space-7) 0;
  color: var(--white-2);
  margin-top: 10%;
}
/*  */
/* End  of variants*/
/*  */
/* Defining the text pills */

/* Featured pills */
.featured-card-text-pill {
  min-width: 12.5rem;
  height: 3.5rem;

  align-self: flex-start;
  position: relative;
  background-color: var(--color-3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: filter 0.5s ease-in-out;
  z-index: 10;
}

.featured-card-text-pill h3 {
  margin: var(--space-2);
  color: var(--color-2);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.featured-card-text span {
  height: 60%;
  aspect-ratio: 1;
  margin: var(--space-2);
  margin-right: 0;
  border-radius: 15px;
  background-color: var(--color-1);
}
.featured-card-text-pill--second {
  background-color: var(--color-1);
}

.featured-card-text-pill--second h3 {
  color: var(--color-4);
}

.featured-card-text-pill--second span {
  background-color: var(--color-4);
}

.featured-card-text-pill--third {
  background-color: var(--color-2);
}

.featured-card-text-pill--third:before {
  background: linear-gradient(to right, transparent, var(--opacity-c1-light));
}

.featured-card-text-pill--third h3 {
  color: var(--color-3);
}

.featured-card-text-pill--third span {
  background-color: var(--color-4);
}

@media (max-width: 1600px) {
  /* Decreased font by 10% */
  .featured-card.featured-card--introduction h4 {
    font-size: 3.15rem;
  }

  .featured-card--big:nth-child(even) p {
    font-size: 1.125rem !important;
  }

  .featured-card.featured-card--big h4 {
    font-size: 3.6rem;
  }

  .featured-card.featured-card--big p {
    font-size: 1.8rem;
  }

  .featured-card-text h4 {
    font-size: 2.25rem;
  }

  .featured-card-text p {
    font-size: 1.125rem;
  }

  .featured-card-text-pill h3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 1400px) {
  /* Decrease by 20% */
  .featured-card.featured-card--introduction h4 {
    font-size: 2.8rem;
  }

  .featured-card--big:nth-child(even) p {
    font-size: 1rem !important;
  }

  .featured-card.featured-card--big h4 {
    font-size: 3.2rem;
  }

  .featured-card.featured-card--big p {
    font-size: 1.6rem;
  }

  .featured-card-text h4 {
    font-size: 2rem;
  }

  .featured-card-text p {
    font-size: 1rem;
  }

  .featured-card-text-pill h3 {
    font-size: 1rem;
  }
}

@media (max-width: 1400px) {
  /* Chnages to handle mobile sizing change to column */
  .featured-section {
    flex-direction: column;
  }
  .featured-card--big:nth-child(odd) {
    border-radius: 50px;
  }
  .featured-section-leftside {
    margin-bottom: var(--space-3);
  }
  .featured-section-rightside {
    margin-bottom: var(--space-3);
  }

  .featured-card--left .featured-card-image,
  .featured-card--right .featured-card-image {
    width: calc(100% - var(--space-4));
    height: calc(100% - var(--space-4));
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }

  .featured-card--left .featured-card-image::before,
  .featured-card--right .featured-card-image::before {
    background-color: var(--color-3);
    opacity: 0.6;
    mix-blend-mode: multiply;
  }
  .featured-card--left .featured-card-text,
  .featured-card--right .featured-card-text {
    width: calc(100% - var(--space-4));
  }
  .featured-card--left .featured-card-text-pill,
  .featured-card--right .featured-card-text-pill {
    margin: var(--space-2) 0;
  }
  /* Return back to orginal font sizes */
  .featured-card.featured-card--introduction h4 {
    font-size: 3.5rem;
  }

  .featured-card--big:nth-child(even) p {
    font-size: 1.25rem !important;
  }

  .featured-card.featured-card--big h4 {
    font-size: 4rem;
  }

  .featured-card.featured-card--big p {
    font-size: 2rem;
  }

  .featured-card-text h4 {
    font-size: 2.5rem;
  }

  .featured-card-text p {
    font-size: 1.25rem;
  }

  .featured-card-text-pill h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  /* Decreased font by 10% */
  .featured-card.featured-card--introduction h4 {
    font-size: 3.15rem;
  }

  .featured-card--big:nth-child(even) p {
    font-size: 1.125rem !important;
  }

  .featured-card.featured-card--big h4 {
    font-size: 3.6rem;
  }

  .featured-card.featured-card--big p {
    font-size: 1.8rem;
  }

  .featured-card-text h4 {
    font-size: 2.25rem;
  }

  .featured-card-text p {
    font-size: 1.125rem;
  }

  .featured-card-text-pill h3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 650px) {
  .featured-card--left {
    overflow: visible;
  }

  .featured-card--right {
    overflow: visible;
  }
  /* Decrease by 20% */
  .featured-card.featured-card--introduction h4 {
    font-size: 2.8rem;
  }

  .featured-card--big:nth-child(even) p {
    font-size: 1rem !important;
  }

  .featured-card.featured-card--big h4 {
    font-size: 3.2rem;
  }

  .featured-card.featured-card--big p {
    font-size: 1.6rem;
  }

  .featured-card-text h4 {
    font-size: 2rem;
  }

  .featured-card-text p {
    font-size: 1rem;
  }

  .featured-card-text-pill h3 {
    font-size: 1rem;
  }
}
